

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/pets/new">List a New Pet</a>
      <a class="nav-item nav-link" href="/users">Current Users</a>
      <a class ="nav-item nav-link">
        <% if logged_in? %>
          <%= link_to "Logout", logout_path, {method: "DELETE"} %>
        <% else %>
          <%= link_to "Login", new_session_path %>
        <% end %> </a>
      <a class ="nav-item nav-link">
        <% unless logged_in? %>
          <%= link_to "Sign Up", new_user_path %>
      <% end %></a>
    </div>
  </div>
</nav>
