/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  .containershow{
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.mission {
    margin-bottom: 300px;
}
.containershow {
    background: rgba(255,255,255,0.9)
    
}

.containershow img {
    display: inline-block;
    
}

img {
    max-height: 400px;
   
}

.horizontal {
    padding: 0;
}
 ul.horizontal li {
    display: inline;
    
}

.bg {
 background-image: url(http://jllsly.com/wallpapers/kitten-and-puppy-wallpapers-hd-resolution-Is-Cool-Wallpapers.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100%;

}
 .card {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    width: 100%;
}

p {
    font-size: 25px;
}

.card img {
    width: 100%;
}

h1 {
    text-align: center;
}

.mission, .current_pets{
   
    background: #ffff;
    opacity: .6;
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
     
}
.mission { text-align: center;}

.title {font-family: 'Carter One', cursive;
    font-size: 50px;
}

.details {
    margin-left: 10px;
    display: inline-block;
}